<form action="/robots" method="post">
  <h3>Create a new robot:</h3>
  <p>Name:</p><input type="robot" name="robot[name]"/></br>
  <p>City:</p><input type="city" name="robot[city]"/></br>
  <p>State:</p><input type="state" name="robot[state]"/></br>
  <p>Avatar:</p><input type="avatar" name="robot[avatar]"/></br>
  <p>Birthdate:</p><input type="birthdate" name="robot[birthdate]"/></br>
  <p>Date Created:</p><input type="date_created" name="robot[date_created]"/></br>
  <p>Department:</p><input type="department" name="robot[department]"/></br></br>
  <input type="submit" value="submit"/>
</form>
